.outerdiv {
    width: 97vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#innerdiv {
    margin: auto;
    width: 78%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    position: absolute;
    z-index: -1;
    width: 78%;
    height: 75vh;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    background-color: #b73636;
    width:80px;
  }

@media only screen and (max-width: 768px) {

    img {
        width: 90%;
        height: 70%;
    }
}


.bg_video {
    width: 500vh;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -2;

}
